.groupChild {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 32px;
    background-color: #fff;
    box-shadow: 0px 5px 4px rgba(8, 15, 52, 0.2);
    width: 1004px;
    height: 85px;
}
.groupItem {
    position: absolute;
    top: 13.5px;
    left: 52px;
    border-radius: 40px;
    background-color: #eff0f6;
    width: 98.09px;
    height: 6px;
}
.groupInner {
    position: absolute;
    top: 13.5px;
    left: 220.09px;
    border-radius: 40px;
    background-color: #eff0f6;
    width: 98.09px;
    height: 6px;
}
.rectangleDiv {
    position: absolute;
    top: 13.5px;
    left: 388.18px;
    border-radius: 40px;
    background-color: #eff0f6;
    width: 98.09px;
    height: 6px;
}
.groupChild1 {
    position: absolute;
    top: 13px;
    left: 556px;
    border-radius: 40px;
    background-color: #eff0f6;
    width: 98.09px;
    height: 6px;
}
.ellipseDiv {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 50%;
    background-color: #ee75f0;
    width: 34px;
    height: 34px;
}
.div {
    position: absolute;
    top: 7.53px;
    left: 14px;
    line-height: 18px;
    font-weight: 500;
}
.ellipseParent {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 34px;
    height: 34px;
}
.groupWrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 34px;
    height: 34px;
    color: #fff;
}
.groupChild2 {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 50%;
    background-color: #eff0f6;
    width: 34px;
    height: 34px;
}
.div1 {
    position: absolute;
    top: 4.53px;
    left: 13px;
    line-height: 23px;
}
.groupFrame {
    position: absolute;
    top: 0px;
    left: 168.09px;
    width: 34px;
    height: 34px;
}
.div2 {
    position: absolute;
    top: 4.53px;
    left: 12px;
    line-height: 23px;
}
.groupDiv {
    position: absolute;
    top: 0px;
    left: 336.18px;
    width: 34px;
    height: 34px;
}
.groupWrapper1 {
    position: absolute;
    top: 0px;
    left: 504.27px;
    width: 34px;
    height: 34px;
}
.rectangleGroup {
    position: absolute;
    top: 25px;
    left: 217px;
    width: 654.09px;
    height: 34px;
}
.rectangleParent {
    position: relative;
    width: 1004px;
    height: 85px;
}
.gender {
    position: relative;
    display: inline-block;
    width: 375px;
}
.genderWrapper {
    width: 373px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: 40px;
    font-family: Poppins;
}
.frameChild {
    position: relative;
    width: 24px;
    height: 24px;
    object-fit: cover;
}
.female {
    position: relative;
    line-height: 28px;
    font-weight: 500;
    display: flex;
    align-items: center;
    width: 113.17px;
    height: 42px;
    flex-shrink: 0;
}
.frameDiv {
    width: 144px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
}
.frameWrapper {
    width: 144px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.frameGroup {
    width: 405px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 22.16689682006836px 30.333648681640625px;
    box-sizing: border-box;
    gap: 26.83px;
    text-align: left;
}
.btnText2 {
    position: relative;
    letter-spacing: 0.2px;
    line-height: 22px;
    font-weight: 800;
}
.buttonMdSec2 {
    border-radius: 5px;
    background-color: #6986dc;
    width: 296px;
    height: 60px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 40px;
    box-sizing: border-box;
}
.buttonMdSecParent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 29px;
    color: #fff;
}
.frameParent {
    border-radius: 32px;
    background-color: #fff;
    box-shadow: 0px 5px 16px rgba(8, 15, 52, 0.2);
    width: 996px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 36px 54px;
    box-sizing: border-box;
    gap: 29px;
    text-align: center;
    color: #18181b;
    font-family: Montserrat;
}
.groupParent {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 64px;
    text-align: left;
    font-size: 16px;
    color: #6f6c90;
    font-family: 'DM Sans';
}

